*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(37, 38, 40);
}
@media screen and (max-width: 640px) {
    body {
        font-size: 12px;
}
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    padding: 30px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;

}

.nav-list {
    display: flex;;
    margin-right: 2rem;
}


.nav-list a {
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    text-align: center;
    color: white; 
}

.nav-list a:hover {
    background: var(--main-blue);
  }
  .welcome-section{
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: black;

  }

  .head1{
      color: white;
      font-size: 4rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .p1 {
    font-size: 3rem;
    font-weight: 100;
    font-style: italic;
    color: red;
  }
#projects{
    background-color: turquoise;
    padding: 15rem 3rem;
}

.project-tile{
    font-size:3rem;
    color:white;
    text-align: center;
    /* margin-top: -5rem;
    padding-bottom: 2rem; */
    border-bottom: 0.2rem solid white;
    margin: 0 auto 6rem auto;
    max-width: 640px;
}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
#projects-container{
    display: flex;
    flex-direction: column;

}
img {
    display: flex;
    flex-direction: column;
    width: 300px;
    
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
  
  
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  

  